# Editors
project.xml
project.properties
/nbproject/private/
.buildpath
.project
.settings*
.idea
.vscode
*.sublime-project
*.sublime-workspace
.sublimelinterrc

# Gulp
/node_modules/
none

#compiled CSS
/assets/css/*.css
/assets/css/**/*.css

# Minified JS
/assets/js/admin/*.min.js
/assets/js/public/*.min.js
/assets/js/frontend/*.min.js
/assets/js/**/*.min.js

# OS X metadata
.DS_Store

# Windows junk
Thumbs.db

# Composer
/vendor/
contributors.md

# Packages
/packages/*
!/packages/README.md